<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637758725328-qj0ht1vkdpikgdllt78iurr2savjtmnv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637758725328-qj0ht1vkdpikgdllt78iurr2savjtmnv</string>
	<key>API_KEY</key>
	<string>AIzaSyBdcmTbu4NPsJwDWRn--sXh3YJ30xqBvxM</string>
	<key>GCM_SENDER_ID</key>
	<string>637758725328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fabienstg.Next-Gaymer</string>
	<key>PROJECT_ID</key>
	<string>nextgaymer</string>
	<key>STORAGE_BUCKET</key>
	<string>nextgaymer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:637758725328:ios:471ee9998b8a80b4c152d5</string>
	<key>DATABASE_URL</key>
	<string>https://nextgaymer-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>